[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://github.com/AI-PM-Wiki/mkdocs-material
[submodule "agent-server"]
	path = agent-server
	url = https://github.com/AI-PM-Wiki/aipm-agent-server
