[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://github.com/Hi-Yincan/mkdocs-material
[submodule "agent-server"]
	path = agent-server
	url = https://github.com/Hi-Yincan/aipm-agent-server
